<section id="header-and-profile-info" class="flex flex-row w-full mt-10 justify-between">
    <div id="profile-info" class="w-full md:w-1/2 flex flex-col justify-center items-center space-y-4 mx-4">
        <h1 class="text-3xl font-bold my-2">Profile Overview</h1>

        <div class="flex flex-col md:flex-row w-full space-y-4 md:space-y-0 md:space-x-4">
            <div class="w-full md:w-1/2 h-auto py-2 px-4 bg-(--secondary-200) rounded-2xl">{{this.currentUser?.username}}</div>
            <div class="w-full md:w-1/2 h-auto py-2 px-4 bg-(--secondary-200) rounded-2xl">{{this.currentUser?.email}}</div>
        </div>

        <div class="flex flex-col md:flex-row w-full space-y-4 md:space-y-0 md:space-x-4">
            <div class="w-full md:w-1/2 h-auto py-2 px-4 bg-(--secondary-200) rounded-2xl">{{this.currentUser?.name}}</div>
            <div class="w-full md:w-1/2 h-auto py-2 px-4 bg-(--secondary-200) rounded-2xl">{{this.currentUser?.surname}}</div>
        </div>

        <div class="flex flex-col md:flex-row w-full space-y-4 md:space-y-0 md:space-x-4">
            <div class="w-full md:w-1/2 h-auto py-2 px-4 bg-(--secondary-200) rounded-2xl">{{this.currentUser?.phoneNumber}}</div>
            <div class="w-full md:w-1/2 h-auto py-2 px-4 bg-(--secondary-200) rounded-2xl">{{this.currentUser?.location}}</div>
        </div>

        <div class="flex flex-row w-full space-y-4 md:space-y-0 md:space-x-4">
            <button 
                class="px-4 py-2 mt-2 bg-(--secondary-400) m-auto font-black rounded-xl tracking-wider hover:outline-2 hover:outline-(--primary-400) transition-all"
                (click)="navigateToAddArticlePage()"
            >Add A New Article
            </button>
            <button *ngIf="this.currentUser?.isAdmin"
                    class="px-4 py-2 mt-2 bg-(--secondary-400) m-auto font-black rounded-xl tracking-wider hover:outline-2 hover:outline-(--primary-400) transition-all"
                    (click)="navigateToAddFragrancePage()"
            >Add A New Fragrance
            </button>
        </div>
    </div>
    <div id="profile-picture" class="hidden md:flex md:w-1/2 flex-col justify-center items-end">
        <img src="/assets/icons/USER.png" alt="User" class="bg-(--primary-200) aspect-square rounded-full w-1/2">
    </div>
</section>

<section id="wishlist-articles-collection" class="flex flex-col w-full mt-10 space-y-4">
    <section id="wishlist" class="w-full bg-(--secondary-200) rounded-2xl h-auto min-h-32 flex flex-col justify-start items-start overflow-x-auto">
        <h2 class="text-2xl font-bold py-2 px-4">Your Wishlist</h2>
        <div *ngIf="this.userWishlist.length != 0" id="wishlist-container" class="grow flex flex-row justify-start px-4 pb-4">
            <app-fragrance-card-small
                *ngFor="let fragrance of userWishlist"
                [fragrance]="fragrance"
                (click)="navigateToFragranceOverview(fragrance.slug)"
            ></app-fragrance-card-small>
        </div>
        <h2 *ngIf="this.userWishlist.length == 0" class="text-2xl font-semibold text-center">Your wishlist is currently empty!</h2>
    </section>

    
    <section id="collection" class="w-full bg-(--secondary-200) rounded-2xl h-auto min-h-32 flex flex-col justify-start items-start overflow-x-auto">
        <h2 class="text-2xl font-bold py-2 px-4">Your Current Collection</h2>
        <div *ngIf="this.userCollection.length != 0" id="collection-container" class="grow flex flex-row justify-start px-4 pb-4">
            <app-fragrance-card-small
                *ngFor="let fragrance of userCollection"
                [fragrance]="fragrance"
                (click)="navigateToFragranceOverview(fragrance.slug)"
            ></app-fragrance-card-small>
        </div>
        <h2 *ngIf="this.userCollection.length == 0" class="text-2xl font-semibold text-center">You'r collection is currently empty!</h2>
    </section>

    <section id="articles" class="w-full bg-(--secondary-200) rounded-2xl h-auto min-h-32 flex flex-col justify-start items-start overflow-x-auto">
        <h2 class="text-2xl font-bold py-2 px-4">Your Articles</h2>
        <div *ngIf="this.userArticles.length != 0" id="article-container" class="grow flex flex-row justify-start px-4 pb-4">
            <app-article-card
                *ngFor="let article of userArticles"
                [article]="article"
                (click)="navigateToArticleOverview(article.id)"
            >
            </app-article-card>
        </div>
        <h2 *ngIf="this.userArticles.length == 0" class="w-full grow text-2xl font-semibold text-center">Your do not have any active articles!</h2>
    </section>

</section>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-pulse" [fullScreen] = "true"><p style="color: white" > Loading.. </p></ngx-spinner>
