<app-headline [title]="'Homepage'"></app-headline>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-pulse"
  [fullScreen]="true">
  <p style="color: white">Loading…</p>
</ngx-spinner>

<div class="flex flex-wrap mt-6">
  <!-- LEFT SIDEBAR: User Collections -->
  <aside class="w-full lg:w-1/4 p-4">
    <app-headline [title]="'Your Collections'"></app-headline>
    <ng-container *ngIf="userCollections.length; else noCollections">
      <app-fragrance-card
        *ngFor="let f of userCollections"
        [fragrance]="f">
      </app-fragrance-card>
    </ng-container>
    <ng-template #noCollections>
      <p class="italic">You haven’t collected anything yet.</p>
    </ng-template>
  </aside>

  <!-- MAIN: Articles & Fragrances -->
  <main class="w-full lg:w-1/2 p-4">
    <app-headline [title]="'Recent Articles'"></app-headline>
    <app-article-card
      *ngFor="let a of recentArticles"
      [article]="a">
    </app-article-card>

    <div class="mt-8">
      <app-headline [title]="'Random Fragrances'"></app-headline>
      <app-fragrance-card
        *ngFor="let f of randomFragrances"
        [fragrance]="f">
      </app-fragrance-card>
    </div>
  </main>

  <!-- RIGHT SIDEBAR: Recent Reviews -->
  <aside class="w-full lg:w-1/4 p-4">
    <app-headline [title]="'Recent Reviews'"></app-headline>
    <app-review-card
      *ngFor="let r of recentReviews"
      [review]="r"
      [isUserReview]="false">
    </app-review-card>
  </aside>
</div>
