<app-headline [title]="'Browse All Articles'"></app-headline>

<section class="">
    <p class="text-2xl">WIP: This page will have the following:</p>

    <ul class="text-xl">
        <li>- Search function for all articles based on text</li>
        <li>- Paginated display of results for articles</li>
        <li>- A left sidebar section for filtering the results</li>
    </ul>
    
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-pulse"><p style="color: white" > Loading.. </p></ngx-spinner>
</section>